* {
    font-family: "consolas", monospace;
}
html,
body {
    margin: 0rem;
    padding: 0ch;
}

.top {
    padding: 0.5vmin;
    background-color: #ccf;
    font-size: 1.5vmin;
}

.pageheader {
    font-size: 3vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
