@font-face {
    font-family: Consolas;
    src: url(consolas.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #16161d;
    display: grid;
    place-items: center;
}
.main {
    margin-top: 15%;
    background-color: #b0b0e8;
    padding: 4vmin;
    font-family: "", serif
}
