body,
html {
    height: 100%;
    margin: 0in;
    padding: 3vmin;
    color: white;
    background-color: #16161d;
}
.text {
    background-color: transparent;
    margin: 0cm;
    font-family: "Consolas", Courier, monospace;
}
#innocuous {
    font-size: 3vmin;
}
.header {
    margin: 3vmin;
    margin-top: 0vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hijink {
    border-color: transparent;
    border-top: white;
    border-style: solid;
    padding: 2vmax;
    border-width: 1px;
}
p {
    font-size: 2vmin;
}
