body,
html {
    height: 100%;
    margin: 0in;
    padding: 3vmin;
    color: white;
    background-color: #16161d;
}
.text {
    background-color: transparent;
    margin: 0cm;
    font-family: "Consolas", Courier, monospace;
}
#innocuous {
    font-size: 2vmin;
}
.header {
    margin: 3vmin;
    margin-top: 0vmax;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hijink {
    border-color: transparent;
    border-top: white;
    border-style: solid;
    padding: 2vmax;
    border-width: 1px;
}
p {
    font-size: 2vmin;
}
h1 {
    font-size: 5vmin;
    background: linear-gradient(135deg, #cff, #cfc, #ffc, #fcc, #fcf, #ccf, #cff);
    background-clip: text;
    color: transparent;
    background-size: 200%;
    animation: gradientPan 120s linear infinite;
}
@keyframes gradientPan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
button {
    font-family: "Consolas", Courier, monospace;
    background-color: white;
    font-size: 1.5vmin;
}
h3 {
    font-size: 2.5vmin;
}