@font-face {
    font-family: Consolas;
    src: url(../consolas.ttf);
}

body {
    margin: 0;
    background-color: #16161d;
}

.text {
    font-family: "Consolas", monospace;
}

.top-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 75px;
    background: black;
    height: 100%;
}

.subheader {
    text-decoration: bold;
    text-align: center;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 2.5vmin;
}

.gradBackground {
    background: linear-gradient(90deg, hsl(0, 70%, 80%), hsl(60, 70%, 80%), hsl(120, 70%, 80%), hsl(180, 70%, 80%), hsl(240, 70%, 80%), hsl(300, 70%, 80%), hsl(360, 70%, 80%));
    color: transparent;
    background-clip: text;
    background-size: 200%;
    animation: gradientPan 60s linear infinite;
}
@keyframes gradientPan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

.main-para {
    color: #ddd;
    margin: 10%;
}

h3 {
    font-size: 7vmin;
}

h4 {
    font-size: 5vmin;
}
